In [71]:
import pandas as pd

tabela = pd.read_excel("C:\\Users\\Ediva\\Downloads\\RSS Adriele Facu - Copia\\14_Avaliação Documentação RSS\\03_NF Recebido\\RSS_Resumo_geral_das_NFs.xlsx",sheet_name="Anual",header=2)
tabela = tabela.drop("Unnamed: 6",axis=1)
tabela = tabela.dropna(how='all')
tabela = tabela.drop(columns=['DE', 'ATÉ', 'Caderno','S.O.','P.O.','EMISSÃO','HH','%','Unnamed: 30','Unnamed: 31','Unnamed: 32','Unnamed: 5','Unnamed: 19','Unnamed: 26'])
#display (tabela)
tabela.columns

Index(['POS.', 'EMPRESA', 'HORAS', 'Projeto', 'NF', 'PREVISÃO', 'EXECUTADO',
       'DT', 'NF.1', 'IMPOSTO', 'TAXA ADM.', 'NF.2', 'EMISSÃO.1', 'NF-RSS',
       'IMPOSTO.1', 'LÍQUIDO', 'DESC.', 'STATUS'],
      dtype='object')

In [ ]:
tabela.rename(columns={'NF.1': 'Valor da NF','IMPOSTO.1':'IMPOSTO RSS'}, inplace=True)
tabela = tabela.drop(tabela.index[0])

In [ ]:
import plotly.express as px

#Converte os valores da coluna 'LÍQUIDO' para números e trata os erros.
tabela['LÍQUIDO'] = pd.to_numeric(tabela['LÍQUIDO'], errors='coerce').fillna(0)
#coneerter notas em NaN para zero.
tabela ['NF']= tabela['NF'].fillna(0)

# Agrupa por 'EMPRESA' e soma os valores de 'LÍQUIDO'
tabela_agrupada = tabela.groupby('EMPRESA', as_index=False)['LÍQUIDO'].sum()

tabela['Diff-tempo'] = (tabela['EXECUTADO'] - tabela['PREVISÃO']).dt.days

tabela['Diff-tempo'] = tabela['Diff-tempo'].fillna(0).astype(int)

tabela['ANO'] = tabela['EXECUTADO'].dt.year.fillna(0).astype(int)



#tabela['ANO'] = tabela['EXECUTADO'].dt.year

display (tabela)

# Cria um gráfico de barras vertical com 'EMPRESA' no eixo x e 'LIQUIDA' no eixo y
fig = px.bar(tabela, x='EMPRESA', y='LÍQUIDO')

# Exibe o gráfico
fig.show()

In [67]:
tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 2 to 61
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   POS.         60 non-null     object
 1   EMPRESA      58 non-null     object
 2   HORAS        32 non-null     object
 3   Projeto      57 non-null     object
 4   NF           60 non-null     object
 5   PREVISÃO     45 non-null     datetime64[ns]
 6   EXECUTADO    41 non-null     datetime64[ns]
 7   DT           49 non-null     object
 8   Valor da NF  57 non-null     float64
 9   IMPOSTO      60 non-null     float64
 10  TAXA ADM.    45 non-null     float64
 11  NF.2         49 non-null     object
 12  EMISSÃO.1    48 non-null     object
 13  NF-RSS       58 non-null     object
 14  IMPOSTO RSS  60 non-null     float64
 15  LÍQUIDO      60 non-null     float64
 16  DESC.        60 non-null     object
 17  STATUS       60 non-null     object
 18  Diff-tempo   60 non-null     int32
 19  ANO          60 non-null     int32
dtypes: datetime64[ns](2), float64(5), int32(2), object(11)
memory usage: 9.0+ KB